/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}



/* Main styling */
/* COLORS: 394867 212A3E 9BA4B5 F1F6F9 */
:root {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #F1F6F9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    background-color: #212A3E;
    color: #F1F6F9;
    height: 80px;
}

#title {
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}

#content {
    flex-grow: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    background-color: #F1F6F9;
    padding: 20px;
    gap: 20px;  
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-header {
    text-align: center;
    font-size: 27px;
    font-weight: 800;
    padding: 0 10px;
    position: relative;
}

.section-header button {
    position: absolute;
    top: 50%; /* Vertically center */
    right: 0; /* Align to the right edge */
    transform: translateY(-50%); /* Adjust for height to ensure perfect centering */
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Task design */
.task {
    padding: 10px 10px 10px 15px;
    background-color: #212A3E;
    color: #F1F6F9;
    border-radius: 10px;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-detail {
    display: flex;
    gap: 10px;
    
}

.check-storage {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.check {
    margin-top: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: #394867 solid 3px;
    background-color: #F1F6F9;
    
    opacity: 50%;
}

.check:hover {
    opacity: 75%;
}

.check:active {
    background-color: #394867;
    opacity: 100%;
}

.description {
    font-weight: 400;
    font-size: 12px;
}

.view {
    background-color: #394867;
    border: none;
    color: #F1F6F9;
    border-radius: 5px;
}

.view:hover {
    color: #394867;
    background-color: #F1F6F9;
}

.miscs {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 15px;
    gap: 10px;
    font-size: 10px;
    font-weight: 400;
}


.due, .priority {
    background-color: #394867;
    border-radius: 5px;
    padding: 1px 5px;
}

.add-task, .add-section, .section-header button {
    padding: 10px;
    border: #212A3E solid 2px;
    background-color: #F1F6F9;
    color: #212A3E;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
}

.add-task:hover, .add-section:hover, .section-header button:hover {
    background-color: #212A3E;
    color: #F1F6F9;
}

.add-section {
    padding: 5px 10px;
    height: 40px;
}

input#description {
    height: 50px;
    font-size: 12px;
    font-weight: 400;
}

/* Dialog styling */
dialog {
    padding: 10px;
    border: #212A3E solid 2px;
    background-color: #F1F6F9;
    color: #212A3E;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;

    /* Classic way to center */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background-color: black;
    opacity: 0.8;
}

dialog button {
    background-color: #F1F6F9;
    border: 2px solid #212A3E;
    border-radius: 5px;
    margin-top: 20px;
}

dialog button:hover {
    background-color: #212A3E;
    color: #F1F6F9;
}

dialog p {
    font-size: 20px;
    padding-bottom: 20px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 5px;
}
